############################################
# Basis-Verzeichnisse
############################################

# Konfigurationsverzeichnis der Anwendung
APP_CONFIG_DIR=/config

# Persistente Anwendungsdaten
APP_DATA_DIR=/appdata

# Log-Verzeichnis
APP_LOG_DIR=./logs

# Persistente Datenbankdaten
APP_DATA_DIR_DB=/appdata/components/db

############################################
# Docker-Komponenten (Hostnamen & Ports)
# (Default Werte können angepasst werden)
############################################

# Redis Cache
# (muss mit hostname in compose file übereinstimmen)
REDIS_HOST=redis
REDIS_PORT=6379

# Datenbankverbindung 
# (muss mit hostname in compose file übereinstimmen)
DATABASE_HOST=core-database
DATABASE_PORT=5432

# Backend-Service Port (z.B. 8002)
DJANGO_BACKEND_PORT=

# Frontend-Service Port (z.B. 3000)
FRONTEND_PORT=

############################################
# MQTT-Konfiguration
############################################

# Adresse/Host des Brokers
MQTT_BROKER=

# Port des MQTT-Brokers
MQTT_PORT=

############################################
# Konfiguration zum Monitoring
############################################

# Überprüfung der Docker Komponenten (Default: 600) 
DOCKER_CHECK_INTERVAL_SECONDS=

# Anaylse des Nginx-Logs (Default: 3600) 
LOG_ANALYSIS_INTERVAL_SECONDS=

# Heartbeat Intervall (Sekunden) für MQTT-Services (Default: 600)
MQTT_HEARTBEAT_INTERVAL= 

############################################
# Backend-spezifische Konfiguration
# Unterschiedlich für prod und dev!
# (Siehe Django Dokumentation für Details)
############################################

# Betriebsmodus (dev oder prod)
DJANGO_ENV=

# Öffentliche URL des Frontends
DJANGO_FRONTEND_URL=

# Aktivierung interner Scheduler-Prozesse (True/False)
# Verwendet für cron jobs -> für dev ggf. False
DJANGO_SCHEDULER_ENABLED=

# Security: Zulässige Hosts (Comma-separated)
DJANGO_ALLOWED_HOSTS=

# Security: CORS-Konfiguration
DJANGO_CORS_ALLOWED_ORIGINS=
DJANGO_CSRF_TRUSTED_ORIGINS=

# Security: Cookie-Domains
DJANGO_SESSION_COOKIE_DOMAIN=
DJANGO_CSRF_COOKIE_DOMAIN=

############################################
# E-Mail-Konfiguration
############################################

# SMTP-Server (Sender E-Mail Server Host)
DJANGO_EMAIL_HOST=

# SMTP-Port (Sender E-Mail Server Port)
DJANGO_EMAIL_PORT=

# TLS-Aktivierung (Sender E-Mail Server: True/False)
DJANGO_EMAIL_USE_TLS=

# Empfänger für Systembenachrichtigungen 
# (Format: KÜRZEL:EMAIL-ADRESSE,KÜRZEL2:EMAIL-ADRESSE2...)
DJANGO_ADMINS_EMAILS_TO=

############################################
# Frontend-spezifische Konfiguration 
# (siehe .env.example in frontend repo)
############################################

# API-Endpunkt des Backends 
# (http://your-domain/api)
NEXT_PUBLIC_API_BACKEND=

# WebSocket-Endpunkt 
# (wss://your-domain/ws/sensors/)
NEXT_PUBLIC_API_WEBSOCKET_ENDPOINT=

# Analytics-Script-URL 
# (https://plausible.your-domain/js/script.js)
NEXT_PUBLIC_PLAUSIBLE_SRC=

# Analytics-Domain (your-domain)
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=

# Kontakt-E-Mail-Adresse
NEXT_PUBLIC_EMAIL_ADDRESS_CONTACT=

############################################
# Infos zu externen Datenquellen im Frontend 
# (Lediglich zur Info/Link unter 'Datenquelle')
############################################

# Info-URL zu dem Geodatenportal
NEXT_PUBLIC_URL_GEOPORTAL=

# Info-URL zu dem Veranstaltungskalender
NEXT_PUBLIC_URL_EVENT_CALENDAR=

# Info-URL zu dem Ratsinformationssystem
NEXT_PUBLIC_URL_RIS_CALENDAR=

# Info-URL zum WGA Kalender
NEXT_PUBLIC_URL_WGA_CALENDAR=
