asyncpg==0.30.0
channels==4.2.0
Django==5.1.7
django_cors_headers==4.6.0
djangorestframework==3.15.2
djangorestframework_gis==1.1
django-filter==24.3
gunicorn==23.0.0
daphne==4.1.2
channels==4.2.0
psycopg==3.2.1
psycopg-binary==3.2.1
channels_redis==4.2.1
qrcode==7.4.1
pillow==11.2.1
reportlab==4.4.1
django-jazzmin==3.0.1
pandas
beautifulsoup4==4.13.3
GeoAlchemy2==0.15.2
geopandas==1.0.0
osmnx==2.0.1
OWSLib==0.31.0
paho_mqtt==2.1.0
pandas==2.2.3
PyYAML==6.0.2
Shapely==2.0.7
SQLAlchemy==2.0.32
tqdm==4.66.5
wget==3.2
openpyxl==3.1.5
asyncpg==0.30.0
redis==5.2.1
requests==2.32.3
